@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
width: 100%;
height: 100%;
margin: 0 auto;
font-family: 'Ubuntu', sans-serif;
}


.menu-principal {
    width: 100%;
    background-color: #2E948A;
}

.menu-principal .container {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    padding: 16px;
}

.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    padding: 10px;

}

.menu ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.banner .container {
 display: flex;
 padding: 100px;
 align-items: flex-start;
 justify-content: center;

}

.banner .container img {
    width: 500px;
    margin-top: 50px;
}

.banner .container h1 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: #FF4081;
    width: 450px;
}

.banner .container p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #555555;
    width: 350px;
}

.banner .container a {
    border: 3px solid #FF4081;
    padding: 10px 30px;
    border-radius: 30px;
    color: #FF4081;
    text-decoration: none;
    font-weight: 400;
    font-size: 27px;
    display: inline-block;
    margin-top: 50px;
}

.cursos {
    background-color: #F6F6F6;
}

.cursos .container img {
    height: 200px;
}

.cursos .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
}

.cursos .container article {
    width: 300px;
    text-align: center;
    padding: 10px 30px;
}

.cursos .container h2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 69px;
    color: #FF4081;
}

.cursos .container a {
    border: 3px solid #FF4081;
    padding: 10px 30px;
    border-radius: 62px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 100;
    font-size: 17px;
    display: inline-block;
    margin-top: 50px;
    background: #FF4081;
}

.depoimentos h2 {
    color: #009688;
    text-transform: uppercase;
}

.depoimentos .depo article {
    width: 500px; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.depoimentos .depo .text {
    padding: 15px; 
}

.depoimentos .depo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.depoimentos .container {
    padding: 100px;
}

.blog .posts h3 {
    color: #009688;
    margin-bottom: 0px;
}

.blog .container {
    padding: 100px 100px;
}

.blog p {
    margin: 0px;
}

.blog h2 {
    color: #009688;
    text-transform: uppercase;
}


.blog .container .posts {
    display: flex;
    
}

.blog .posts article {
    padding: 30px;
    width: 500px;
}

.blog {
    background-color: #F6F6F6;
}

.blog .container a {
    border: 3px solid #FF4081;
    padding: 10px 30px;
    border-radius: 30px;
    color: #FF4081;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    display: inline-block; 
    margin-top: 50px;
}

.blog .link {
    text-align: center;
}

.blog .thumb {
    height: 150px;
    width: 100%;
    background-color: black;
}

footer {
    background-color: #009688;
}

footer .container {
    display: flex;  
    padding: 50px; 
    justify-content: space-between;
}

footer nav ul li {
    display: block;
}

footer .menu-footer ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 5px;
}

footer .links ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 15px;
    width: 200px;
    border: 3px solid white;
    border-radius: 30px;
    margin-top: 5px;
    text-align: center;
}

.cursos-banner .container {
    display: flex;
    flex-direction: column; 
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.cursos-banner .text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #FF4081;
}

.cursos-banner h1 {
    margin-bottom: 0px;
}

.cursos-banner .text p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400; 
    font-size: 20px; 
    color: #555555;
    margin-top: 0px;
}

.cursos-lista .container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.cursos-lista article {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    width: 100%;
} 

.cursos-lista .container img { 
    height: 300px;
    padding: 50px;
}


.cursos-lista .container p { 
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400; 
    font-size: 15px; 
    color: #555555;
}

.cursos-lista .container a { 
    border: 3px solid #2E948A;
    padding: 10px 30px;
    border-radius: 62px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 100;
    font-size: 17px;
    display: inline-block; 
    margin-top: 20px;
    background: #2E948A;
}

.cursos-lista .container h2 { 
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 69px;
    color: #FF4081;
}

.cursos-lista .container hr {
    background-color: #C4C4C4;
    height: 1px;
    width: 100%;
}

.banner-curso .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.banner-curso h1 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: #FF4081;
    width: 450px;
}

.banner-curso p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400; 
    font-size: 20px; 
    color: #555555;
    margin-top: 0px;
    width: 450px;
}

.lista-aulas {
    background-color: #E5E5E5;
}

.lista-aulas iframe {
    width: 450px;
    height: 250px;
}

.lista-aulas .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.lista-aulas article {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 30px;
    width: 100%;
} 

.lista-aulas .container img { 
    height: 300px;
    padding: 50px;
}


.lista-aulas .text {
    width: 400px;
    margin-left: 90px;
}

.lista-aulas .container p { 
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400; 
    font-size: 15px; 
    color: #555555;
}

.lista-aulas .container a { 
    border: 3px solid #2E948A;
    padding: 10px 30px;
    border-radius: 62px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 100;
    font-size: 17px;
    display: inline-block; 
    margin-top: 20px;
    background: #2E948A;
}

.lista-aulas .container h2 { 
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #FF4081;
    margin-top: 0;
}

.lista-aulas .container hr {
    background-color: #C4C4C4;
    height: 1px;
    width: 100%;
}

.blog-banner .container {
    display: flex;
    padding: 50px;
    align-items: flex-start;
    justify-content: center;
   
   }
   
   .blog-banner .container img {
       width: 450px;
       margin-top: 0px;
       margin-bottom: 50px;
   }
   
   .blog-banner .container h1 {
       font-family: 'Ubuntu';
       font-style: normal;
       font-weight: 700;
       font-size: 47px;
       color: #2E948A;
       width: 450px;
       text-transform: uppercase;
       margin-top: 100px;
   }
   
   .blog-banner .container p {
       font-family: 'Ubuntu';
       font-style: normal;
       font-weight: 400;
       font-size: 20px;
       line-height: 31px;
       color: #555555;
       width: 461px;
   }

   .blog-posts .thumb { 
    height: 230px;
    width: 100%;
    background-color: black;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7vU_amvTI6wUavcuwUj4nZQG54f8hDeJ4ew&usqp=CAU);
    background-repeat: no-repeat; 
    background-size: cover; 
}

    .blog-posts .container { 
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1200px;
        max-width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;
    }

   .blog-posts article {
        padding: 50px;
        width: 400px;
   }

   .blog-posts .container h2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-size: 25px;
    color: #FF4081;
   }

   .contato img {
    padding: 50px;
    max-width: 100%;
   }

   .contato .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    height: 75vh;
   }

   .contato h1 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-size: 35px;
    color: #FF4081;
   }

   .contato .container form {
    width: 400px;
   }

   .contato .container form input, 
   .contato .container textarea {
    max-width: 100%;
    padding: 5px 15px;
    margin: 10px 0px;
    border-radius: 13px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    color: #555555;
    width: 461px;
    border: 1px solid #555555;
   }

   .contato input:hover {
    border-color: #FF4081;
   }

   .contato button:hover {
    border-color: #009688;
    background-color: #009688;
   }

   .contato .container textarea {
    height: 200px;
   }

   .contato button {
    border: 3px solid #FF4081;
    padding: 10px 30px;
    border-radius: 62px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 100;
    font-size: 17px;
    display: inline-block;
    margin-top: 15px;
    background: #FF4081;
   }

   .post-principal small { 
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9D9D9D;
   }

   .post-principal .thumb { 
    height: 465px;
    width: 100%;
    background-color: #C4C4C4;
    background-size: cover; 
    margin: 50px 0;
}

    .post-principal .container { 
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;
    }

   .post-principal article {
        padding: 50px;
        width: 900px;
   }

   .post-principal .container h1 {
        font-family: 'Ubuntu';
        font-style: normal;
        color: #FF4081;
        font-size: 35px;
        color: #FF4081;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
   }

   .post-principal .container h2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-size: 25px;
    color: #009688;
   }

   .post-principal p {
    color: #000000;
    font-weight: 300;
   }

   .nossos-cursos {
    background-color: #F6F6F6;
}

.nossos-cursos .container img {
    height: 200px;
}

.nossos-cursos .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
}

.nossos-cursos .container article {
    width: 300px;
    text-align: center;
    padding: 10px 30px;
}

.nossos-cursos h1 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-size: 35px;
    color: #FF4081;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
   }

.nossos-cursos .container h2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 69px;
    color: #FF4081;
}

.nossos-cursos .container a {
    border: 3px solid #FF4081;
    padding: 10px 30px;
    border-radius: 62px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 100;
    font-size: 17px;
    display: inline-block;
    margin-top: 50px;
    background: #FF4081;
}
